<script setup>
import BreezeAuthenticatedLayout from '@/Layouts/Authenticated.vue';
import { Head } from '@inertiajs/inertia-vue3';
</script>
<template>
    <Head title="Crear Formulario" />
    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Formulario {{ user.name}}
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="grid grid-cols-1 gap-6">
                            <label class="block">
                                <span class="text-gray-700">Nombre</span>
                                <input type="text"
                                v-model="name"
                                class="
                                    mt-1
                                    block
                                    w-full
                                    rounded-md
                                    bg-gray-100
                                    border-transparent
                                    focus:border-gray-500 focus:bg-white focus:ring-0
                                " placeholder="">
                            </label>
                            <button @click="store()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Button
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </BreezeAuthenticatedLayout>
</template>

<script>
export default {
    props:['user'],
    components: {
    },
    data(){
        return{
            name:''
        }
    },
    methods:{
        store(){
            axios.post('/api/form',{
                name:this.name
            }).then(res=>{
                alert('ok !')
                this.name = ""
            })
        }
    }
}
</script>

<style>

</style>
