<template>
    <div>sss
        <input type="text" v-model="email">
        {{email}}
    </div>
</template>

<script>
export default {
    data(){
        return{
            email:'escribe tu correo'
        }
    },
    created(){
    }
}
</script>

<style>

</style>
